<div class="container">
    <form action="/newcountry" method="POST">
    <div class="form-group">
        <label for="country-code-input">Country Code</label>
        <input type="text" class="form-control" id="country-code-input" required name="country-code" placeholder="Country Code. MUST BE UNIQUE!">
    </div>
    <div class="form-group">
        <label for="country-name-input">Country Name</label>
        <input type="text" class="form-control" id="country-name-input" required name="country-name" placeholder="New Country Name">
    </div>
    <div class="form-group">
        <label for="country-region-form">Country Region</label>
        <input type="text" class="form-control" id="country-region-form" required name="country-region" placeholder="Region">
    </div>
    <div class="form-group">
        <label for="country-local-name-form">Country Local Name</label>
        <input type="text" class="form-control" id="country-local-name-form" required name="country-local-name" placeholder="Local Name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>